{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        org.clojure/core.async {:mvn/version "0.4.500"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :sha "aaadd79b1644bc73d1c4283532a7b59ef382a671"}
        clj-http {:mvn/version "3.10.0"}
        lambdaisland/uri {:mvn/version "1.1.0"}
        less-awful-ssl {:mvn/version "1.0.2"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
